.App {
  text-align: center;
}

.studentView{
  display: flex;
  flex-direction: row;
}

.checkBox{
  margin-top: auto;
  margin-bottom: auto;
}

.remove{
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.inputContainer{
  display: flex;
  flex-direction: row;
}

.textInput{
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.numberInput{
  height: 50%;
  width: 30px;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.container{
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.form{
  border: black;
  border-style:dotted;
  padding-left: 5%;
  padding-bottom: 5%;
  width: fit-content;
  padding-right: 5%;
}

#list{
  border: black;
  border-style:dotted;
  padding-left: 5%;
  padding-bottom: 5%;
  width: fit-content;
  padding-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
